<div class="card" style="width: 18rem;">
  <img [src]="user()?.image" [alt]="user()?.username" class="card-img p-4">
  <div class="card-body">
    <h5 class="card-title">{{user()?.first_name + ' ' + user()?.last_name}}</h5>
  </div>
  <div class="card-body mb-3">
    <a class="card-link icon-link" [routerLink]="['/user', user()?.id]">
      <img class="bi" src="./verDetalle_ico.png">
      Ver detalle
    </a>
    <a class="card-link icon-link" [routerLink]="['/updateuser', user()?.id]">
      <img class="bi" src="./editar_ico.png">
      Modificar
    </a>
    <a class="card-link icon-link" (click)="deleteUser(user()?.id)">
      <img class="bi" src="./eliminar_ico.png">
      Eliminar
    </a>
  </div>
</div>
