<div class="card text-center shadow-sm h-100">
  <div class="card-header bg-white border-0">
    <img [src]="user()?.image" class="rounded-circle border border-3 border-white shadow img-perfil" alt="Perfil">
  </div>

  <div class="card-body">
    <h5 class="mt-2">{{ user()?.first_name + ' ' + user()?.last_name }}</h5>
    <p class="text-muted">{{ user()?.email }}</p>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <a class="d-flex align-items-center gap-2 text-decoration-none text-primary" [routerLink]="['/user', user()?._id]">
        <img src="./verDetalle_ico.png" alt="Ver detalle" class="img-icon">
        <span>Ver detalle</span>
      </a>
      <a class="d-flex align-items-center gap-2 text-decoration-none text-warning" [routerLink]="['/updateuser', user()?._id]">
        <img src="./editar_ico.png" alt="Modificar" class="img-icon">
        <span>Modificar</span>
      </a>
      <a class="d-flex align-items-center gap-2 text-decoration-none text-danger" style="cursor: pointer;" (click)="deleteBtnClick()">
        <img src="./eliminar_ico.png" alt="Eliminar" class="img-icon">
        <span>Eliminar</span>
    </a>
    </div>
  </div>
</div>


<app-modal [username]="user()?.first_name" (acceptEmit)="deleteUser()"></app-modal>